.container{
    display: flex;
    position: fixed;
    height: 100vh;
    width: 100vw;
    // background-color: blue;
    z-index: 99999999;
    pointer-events: none;
}

.sectionSelector{
    background: none;
    height: 15%;
    margin-top: calc(40%);
    pointer-events:all;

}

.prevSection{
    position: fixed;
    background-color: red;
    justify-content: center;
    align-items: center;
}
.nextSection{
    position: fixed;
    display: flex;
    background-color: red;
    right: 0;

}