.wrapper{
    height: 100%;
    width: 100%;
}


.wrapper:hover .popout{
    display:block;

}

.off{
    .overlay{
        z-index: 100;
        background: #2f2f2f;
    }
}
.overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 100;
    pointer-events: none;
}

.popout{
    position: absolute;
    margin-top: calc(-50px - 2%);
    background: white;
    display: none;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 10%;
}