@import "../../styles/variables.scss";

.window{
    box-sizing: content-box;
    -webkit-font-smoothing: none;
    font-family: "Pixelated MS Sans Serif",Arial;
    font-size: 11px;
    background: silver;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
    padding: 3px;
    position: absolute;
    top: 200px;
    left: 200px;
    pointer-events: all;
    // margin: 32px;
    // width: 250px;
    // max-height: 100%;
    z-index: 10;
}

.maximized{
    box-sizing: border-box;
    width: 100vw;
    height: calc(100% - $WindowsTaskbarSize);
    top: 0;
    left: 0;
}

.titleBar{
    align-items: center;
    background: linear-gradient(90deg,navy,#1084d0);
    display: flex;
    justify-content: space-between;
    padding: 3px 2px 3px 3px;
}
.titleBarText{
    cursor: default;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0;
    margin-right: 24px;
}
.titleBarControls{
    display: flex;
    
    .button{
        display: block;
        min-height: 14px;
        min-width: 16px;
        padding: 0;
        &:active{
            padding: 0;
        }
        &:focus{
            outline: none;
        }
        &:last-child{
            margin-left: 2px;
        }
        
    }
    .minimize{
        background-image: url("../../images/LayoutIcons/minimize.svg");
        background-position: 4px 9px;
        background-repeat: no-repeat;
        }
    .maximize{
        background-image: url("../../images/LayoutIcons/maximize.svg");
        background-position: 3px;
        background-repeat: no-repeat;
    }
    .restore{
        background-image: url("../../images/LayoutIcons/restore.svg");
        background-position: 3px;
        background-repeat: no-repeat;
    }
    .help{
        background-image: url("../../images/LayoutIcons/maximize.svg");
        background-position: 3px;
        background-repeat: no-repeat;
    }
    .close{
        background-image: url("../../images/LayoutIcons/close.svg");
        background-position: center;
        background-repeat: no-repeat;
    }
}

.closed{
    transition: 0.1s ease;
    transform: translateY(75%) translateX(-75%) scaleY(0);
}

.cancelButton{
    margin-left: 6px;
}

.windowBody{
    margin: 8px;
    min-height: 20px;
}

.fieldRow{
    justify-content: flex-end;
    align-items: center;
    display: flex;
    bottom: 0;
}