//old Colors
$DesignColor: #1755A6;
$AnimationColor: #37A647;
$ProgrammingColor:#F29F05;
$Red: #F23838;
$Blue:#1B62BF;
$FontColor: #fff;
$FontSecondary: #444;
$PurpleColor: #975BF5;
$BreakerColor: #e7e7e7;




// 
$FontSize: 14px;

$ButtonSize: 18rem;