
//old Colors
$DesignColor: #1755A6;
$AnimationColor: #37A647;
$ProgrammingColor:#F29F05;
$Red: #F23838;
$Blue:#1B62BF;
$FontColor: #fff;
$FontSecondary: #444;
$PurpleColor: #975BF5;
$BreakerColor: #e7e7e7;




// 
$FontSize: 14px;
$MobileFontSize: 16px;

$SocialLinkSize: 2rem;

$ButtonSize: 18rem;


//Windows Vars
$WindowsFontColor: #000000;
$WindowsBlueColor: #010081;
$WindowsGreenColor: #008080;
$WindowsRedColor: #ff0081;
$WindowsWhiteColor: #fdffff;
$WindowsSilverColor: #c3c3c3;
$WindowsGreyColor: #818181;


$WindowsTaskbarSize: 27px;